
html,body{
    margin: 0;
    padding:0;
    color:black;
    background-color:burlywood;
    width: 100%;

}
ul{
    margin:0;;
    padding:0;
    list-style-type: none;
    width:500px;  
    float: right;   
}


li,a{
    display:inline-block;
    text-decoration: none; 
    padding: 8px 16px ;
    text-align: center; 
    color: aliceblue;  
}

li a:hover{
    background-color: #555;
    color: white;    
}

.active{
    background-color:rgb(197, 197, 178);
      
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(37, 33, 33);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    align-items: center;
    width:100%;
}
.logo{
    color:white;
    font-size: 24px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left:20px;

}
.conat{
    margin: 15px;
    margin-left:120px;

}

.conat img{
        height:500px;
        width:1000px
}

.memories-cont{
    display: flex;
    justify-content: space-between;
    float: left;
    flex-direction: row-reverse;
    align-items: center;
    width:90%;
    height:400px;
    margin-left:30px;
    position: absolute;
    
    
}
.memories-cont p,h2{
font-size: 24px;
color: black;

}
.memories-cont img{
    height:400px;
    width:700px;
    
}
.offering{
     
    height:30%;
    margin-top: 450px;
    height:auto;
    border:20px solid;
    
    
    
    
}

.offering-text {
    color:white; 
    background-color: black;
    text-align: center;
    
}

.ho{
    display: inline-flex;
}
.offering img{
    height:250px;
    width:250px;
    margin: 10px;
    
      
}

.offering-text  p{
    color: blanchedalmond;
    font-size: 22px;
}

h2{
    
    font-size: 24px;
    color: burlywood;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}




a.hovertext {
    position: relative;
    text-align: center;
    align-items: center;
    

}
a.hovertext::after{
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    background-color:rgb(12, 11, 11);
    margin-left:20px ;
    opacity: 0;   
}

a.hovertext:hover::after, a.hovertext:focus::after {
    opacity: 1.0;
  }

@media screen  and (max-width:1200px) {
    *{
        box-sizing: border-box;
    }
    html,body{
        margin: 0;
        padding:0;
        color:black;
        background-color:burlywood;
        
    }

    nav{
        display: flex;
        justify-content: space-between;
        background-color: rgb(37, 33, 33);
        box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
        align-items: center;
        width:100%;
    }
    .logo{
        color:white;
        font-size: 24px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-left:20px;
    
    }
    
    
    
    .conat img{
            height:500px;
            width:700px
    }
    

    .memories-cont{
        display: flex;
        justify-content: space-between;
        float: left;
        flex-direction: row-reverse;
        align-items: center;
        width:90%;
        height:400px;
        margin-left:30px;
        position: absolute;
        
        
    }
    .memories-cont p,h2{
    font-size:18px;
    color: black;
    
    }
    .memories-cont img{
        height:400px;
        width:700px;
        
    }

    .offering{
     
        height:30%;
        margin-top: 450px;
        height:auto;
        border:20px solid;
        
        
        
        
    }
    
    .offering-text {
        color:white; 
        background-color: black;
        text-align: center;
        
    }
    
    .ho{
        display: inline-flex;
    }
    .offering img{
        height:150px;
        width:150px;
        margin: 10px;
        
          
    }
    
    .offering-text  p{
        color: blanchedalmond;
        font-size: 18px;
    }
    
    h2{
        
        font-size: 24px;
        color: burlywood;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}
    

    @media screen and (min-width: 750px){
        *{
            box-sizing: border-box;
        }
        
        html,body{
            margin: 0;
            padding:0;
            color:black;
            background-color:burlywood;
            width: 100%;
        }

        .cont img{
            height:300px;
            width:300px;
        }

        .memories-cont p,h2{
            font-size: 14px;
            color: black;
            
            }

    }


@media only screen and (max-width:600px) and (min-width:400px){
    *{box-sizing: border-box;
    }

    nav{
        display: flex;
        justify-content: space-between;
        background-color: rgb(37, 33, 33);
        box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
        align-items: center;
        width:100%;
        position: relative;
    }
    .logo{
        color:white;
        font-size: 10px;
        font-weight: bold;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin:0px;
    
    }
    
    
    
    .conat img{
            height:300px;
            width:430px;
            margin-left:-80px;
    }

    .offering img{
        height:150px;
        width:150px;
        margin: 10px;
        
          
    }
    
    .offering-text  p{
        color: blanchedalmond;
        font-size: 18px;
    }
    
    .memories-cont{
        display: flex;
        justify-content: space-between;
        float: left;
        flex-direction: row-reverse;
        align-items: center;
        width:90%;
        height:400px;
        margin-left:30px;
        position: absolute;
        
        
    }
    .memories-cont p,h2{
    font-size:14px;
    color: black;
    
    }
    .memories-cont img{
        height:400px;
        width:300px;
        
    }

    .offering{
     
        height:30%;
        margin-top: 450px;
        height:auto;
        border:20px solid;
        
        
        
        
    }
    
    .offering-text {
        color:white; 
        background-color: black;
        text-align: center;
        
    }
    
    .ho{
        display: column;
        flex-wrap: wrap;
        margin-left: 100px
    }
    .offering img{
        height:200px;
        width:200px;
        margin: 10px;
        
          
    }
    
    .offering-text  p{
        color: blanchedalmond;
        font-size: 18px;
    }
    
    h2{
        
        font-size: 24px;
        color: burlywood;
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .logo{
        background-color:#795548;
        width:100%;
        display: flex;
        top:0px;
        left:0px;
        position: fixed;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        align-items: center;
        z-index: 1;
    }



}